streamlit
keybert
transformers
sentence-transformers
torch==2.0.1+cpu              # ← 指定官方 CPU 版 wheel
--extra-index-url https://download.pytorch.org/whl/cpu

sentencepiece                 # HF 部分多語模型會用到
